/*
Colors to use:
dark blue:#06365f
light blue: #1c5380
*/

* { box-sizing: border-box;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  width: 100%;
}

.phones {
width: 30%;
float: left
}

.right-column {
  width: 10%;
  float: right;
  display: inline;
  padding-top: 2%;

}


.google, .apple {
  float: left;
  display:block;
  padding-top: 30%;
  padding-left: 1%;
  margin-left: 15%;

}

.apple{
padding-left: 5%;
}
.google {
margin-left: 5%;
}

li {
display: inline;
padding: 7px;
}

footer {
color: #1c5380;
position: absolute;
bottom: 0;
text-align: center;
display: block;
font-weight: bold;
margin-left: 20%;
}

ul {
  float: right;

}

#copyright {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  float:left;
}

h2 {
  font-size: 18px;
  color: red;
  position: relative;
  left: 40%;
  font-weight: bold;
  color: #1c5380;
}

.container {
width: 80%;
margin: auto;
margin-top: 40px;
padding-bottom: 110px;
}

.marketing-box  {
  position: absolute;
  z-index: 1000;
  left: 40%;
}
.frame {
  position: absolute;
  left: 25%;
}
.marketing-box p {
  position: absolute;
  left: 40%;
  width: 100%;
}

.img-logo {
  padding-left: 50%;
}
